@page "{restaurantId:int?}"

@model WebApp.Pages.Restaurants.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Editing @Model.Restaurant.Name</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Restaurant.Id" />
            <div class="form-group">
                <label asp-for="Restaurant.Name" class="control-label"></label>
                <input asp-for="Restaurant.Name" class="form-control" />
                <span asp-validation-for="Restaurant.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Restaurant.Location" class="control-label"></label>
                <input asp-for="Restaurant.Location" class="form-control" />
                <span asp-validation-for="Restaurant.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Restaurant.Cuisine"></label>
                <select asp-for="Restaurant.Cuisine"
                        asp-items="Html.GetEnumSelectList<DataLayer.Entities.CuisineType>()"
                        class="form-control">
                    <option value="" disabled>Choose Cuisine</option>
                </select>
            </div>
            <button type="submit" class="btn btn-info">Save</button>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
